Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-WTF==1.2.2
ldap3==2.9.1                # TODO - Replace with Flask ldap3 Login
gunicorn==23.0.0
Flask-Crontab==0.1.2
packaging
pywebpush
MarkupSafe==3.0.3
SQLAlchemy==2.0.44
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.1
Werkzeug==3.1.4
blinker==1.9.0
